nav {
  /*background-color: rgb(25,25,25);
  color: rgb(255, 255, 255);*/
  font-size: 1.0em;
  margin: 20px 0;
  padding: 0px 0px
}
nav li {
  display: inline;
  margin: 0 10px
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(50, 50, 50);
}



footer {
  clear: both;
  color: #777;
  padding: 0px 0px
}
